.cell {
    position: relative;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .black {
        width: 64px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(136, 195, 214);

        &.active {
            border-bottom: 2px solid tomato;
        }
    }

    .white {
        width: 64px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eed4ac;

        &.active {
            border-bottom: 2px solid tomato;
        }
    }
}

